.footer{
    margin-top: 50px;
    width: 100%;
    background:#2C343E;
    padding: 47px 0;
    .footer__navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__collection{
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        gap: 30px;
       .footer__item{
         &:hover{
            color: aqua;
        }
       }
    }
}
@media (max-width:689px) {
   .footer{
    margin-top: 40px;
    width: 100%;
    background: #2C343E;
    padding: 47px 0;
    .footer__navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
    }
    .footer__collection{
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        gap: 20px;
    }
}

}
@media (max-width:327px) {
   .footer{
    margin-top: 22px;
    width: 100%;
    background:#2C343E;
    padding: 24px 0;
    .footer__navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
    .footer__collection{
        display: flex;
        align-items: center;
        list-style: none;
        color: #ffff;
        flex-direction: column;
        gap: 12px;
    }
}
    }